body{
    border-radius: 800px;
}

.acceder{
    font-size: 70px;

}
.usuarioR{
    height: 45px;
    background-color: rgb(200, 178, 220);
}
.apellidos {
    height: 45px;
    background-color: rgb(200, 178, 220);
}
.edad {
    height: 45px;
    background-color: rgb(200, 178, 220);
}
.telefono { 
    height: 45px;
    background-color: rgb(200, 178, 220);
}
.correoelectronico {
    height: 45px;
    background-color: rgb(200, 178, 220);
}
.contraseniaR {
    height: 45px;
    background-color: rgb(200, 178, 220);
}
.informacion {
    display: flex;
    flex-direction: column ;
    width:700px;
}

.listo {
    height: 45px;
    border-style: 600px;
    background-color: rgb(62, 18, 236);
    color: beige;
    cursor: pointer;
}