.BODY {
    background-image:url("src/imagenes/fondo5.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}

.sesion{
    font-size: 30px;
    width:250px ;
    position: relative;
    left: 75px;
}

.hidden{      
    display: none;
    
}

.formulario{
    /* Le di color a bienvenidos */
    font-size: 50px;
    color:rgb(218, 193, 162);
    display: flex;
    flex-direction: column ;
    width: 500px;
}
.contranombre {
    background-color: rgb(211, 205, 199);
}
.crearcuenta {
    font-size: 30px;
    color: bisque;
}
.entrar {
    background-color: rgb(211, 205, 199);
}
.BODY{
    background-image: url("/src/imagenes/232.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
